

footer {
  background: #060C18;
  margin: 50px 0 20px;
  @include media-breakpoint-down-md {
    margin: 50px 0;
  }
}

.footer {
  &-logo {
    margin: 0 0 10px 0;
    img {
      width: 145px;
    }
  }
  &-copyright {
    color: #A8A8A8;
    font-size: 13px;
    margin: 0 0 15px;
    a {
      color: #A8A8A8;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-nav {
    margin: 0 0 35px 0;
    &-heading {
      color: #ffffff;
      margin: 0 0 10px 0;
      font: {
        size: 16px;
        weight: 700;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0 0 5px;
      }
      a {
        color: #A8A8A8;
        text-decoration: none;
        font: {
          size: 14px;
          weight: 400;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.social-links {
  li {
    display: inline-block;
    padding: 0 5px 0 0;
    a {
      display: block;
    }
    
    img { 
      height: 30px;
      &:hover {
        @include transition(color .2s ease-out, background 1s ease-in);
        opacity: .75;
      }
    }
  }
}